.home_body {
    height: 1200px;
    width: 100%;
    background-color: rgb(241, 241, 241);
}

.home_new {
    display: flex;
    margin-top: 1rem;
    align-items: center;
    height: 435px;
    width: 100%;
    border-radius: 1%;
}

.home_new_left {
    flex: 2;
    margin-left: 4.7%;
}

.home_new_left_title p,
.home_new_left_title img {
    padding-top: 10px;
    float: left;
    font-size: 15px;
    color: rgb(91, 91, 91);
}

.home_new_left_img {
    height: 230px;
    width: 100%;
    transition: 1s;
    background-color: rgb(228, 228, 228);
}

.home_new_left_detail {
    margin-top: 50px;
    height: 110px;
    width: 97.5%;
    border-radius: 3px;
    padding: 5px;
    transition: 0.5s;
    background-color: rgb(228, 228, 228);
}

.home_new_left_detail p {
    margin-top: 10px;
}

.home_new_left_detail:hover,
.awsl:hover {
    background-color: rgb(174, 174, 174);
    color: rgb(235, 235, 235);
}

.home_new_mid {
    flex: 3;
    display: flex;
    height: 401px;
    color: rgba(34, 33, 33);
    list-style-type: none;
    margin-left: 2%;
}

.home_new_mid_left,
.home_new_mid_right {
    width: 50%;
}

.awsl {
    height: 21.8%;
    background-color: rgb(228, 228, 228);
    border-radius: 3px;
    margin: 3px;
    transition: 0.5s;
}

.home_new_right {
    margin-right: 5.5%;
    flex: 1.65;
    border-radius: 3px;
    overflow: hidden;
    list-style-type: none;
}

.home_article {
    display: flex;
    height: 530px;
    width: 100%;
    margin-top: 3rem;
}

.home_articleList {
    flex: 3;
    height: 527px;
    margin-left: 4.8%;
}

.home_timeList {
    flex: 1;
    height: 525px;
    margin-right: 5.5%;
    margin-left: 2.5%;
    border-radius: 3px;
    overflow: hidden;
    border: 0.5px solid rgb(192, 191, 191);
}

.home_timeList_detail {
    height: 100%;
    padding-top: 2rem;
    padding-left: 1rem;
}

.infinite-list {
    border-radius: 3px;
    list-style-type: none;
    border: 0.5px solid rgb(192, 191, 191);
}

.infinite-list .infinite-list-item {
    width:100%;
    height: 140px;
    padding: 5px;
    margin: 5px;
    transition: 0.5s;
    border-radius: 1%;
    border: 0.5px solid rgb(192, 191, 191);
    background-color: rgb(247, 246, 246);
}

.infinite-list .infinite-list-item:hover {
    background-color: rgb(228, 228, 228);
}