@import "./user_tree.css";
@import "./user_data.css";

.user_body {
  display: flex;
  height: 690px;
  width: 100%;
  align-content: center;
  background-color: rgb(241, 241, 241);
}

.user_content {
  display: flex;
  padding-right: 15%;
  flex: 9;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 4rem;
}
