.user_body {
  display: flex;
  height: 690px;
  width: 100%;
  align-content: center;
  background-color: rgb(241, 241, 241);
}

.user_tree {
  flex: 2;
  margin-top: 1rem;
  margin-left: 4%;
  height: 100%;
}

.user_publish {
  margin: 1rem;
  width: 10rem;
  height: 40px;
}

.user_content {
  display: flex;
  padding-right: 15%;
  flex: 9;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 4rem;
}

.user_articledata {
  display: flex;
  height: 190px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
}

.user_articledata_detail {
  height: 80px;
  line-height: 40px;
  text-align: center;
  list-style-type: none;
}

.user_articledata_detail p:nth-child(2) {
  font-family: "微软雅黑";
  font-weight: 600;
  font-size: 22px;
}