@import "./login_drop.css";
@Import "./login_container.css";

.login_body {
  display: flex;
  height: 705px;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(241, 241, 241);
}

.login_introduction {
  display: flex;
  flex: 2;
  height: 100%;
  font-size: 12px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(194, 194, 194);
}

.login_introduction h2 {
  font-size: 27px;
}

.login_introduction p {
  margin-top: 7px;
  text-decoration: underline;
}